@REM @Author: {{author}}
@REM @email: {{email}}
@REM @Date: {{create_time}}
@REM Last Modified by: {{last_modified_by}}
@REM Last Modified time: {{last_modified_time}}
@REM Modified time: {{last_modified_time}}
@REM @file_path "{{file_path}}"
@REM @Filename "{{file_name}}"
@REM @Description "decs"

@echo off && setlocal enabledelayedexpansion
@chcp 65001
