# -*- coding: utf-8 -*-
#
# @Author: {{author}}
# @email: {{email}}
# @Date: {{create_time}}
# @Last Modified by: {{last_modified_by}}
# @Last Modified time: {{last_modified_time}}
# @file_path "{{file_path}}"
# @Filename "{{file_name}}"
# @Description: 功能描述
#
import os,sys
sys.path.append('..')

from os import path
from pathlib import Path
from pydantic import BaseModel

if ( __name__ == "__main__"):
	pass


