<!--
 * @Author: CPS
 * @email: 373704015@qq.com
 * @Date: {{create_time}}
 * @Last Modified by: {{last_modified_by}}
 * @Last Modified time: {{last_modified_time}}
 * @Filename {{file_name}}
 * @Description: 功能描述
-->

<template lang="pug">
div
</template>

<script lang="ts">
import { ref,defineComponent,onMounted } from 'vue'

export default defineComponent({
  name:"",
  components: {},
  setup(){
    onMounted(()=>{})

  }
})

</script>

<style lang="stylus" scoped>

</style>
